<div class="persons-table-container card-box">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{'personLabel.firstName' | translate}}</th>
                <th>{{'personLabel.lastName' | translate}}</th>
                <th>{{'personLabel.displayName' | translate}}</th>
                <th>{{'personLabel.taxId' | translate}}</th>
                <th>{{'personLabel.generationSuffixCd' | translate}}</th>

            </tr>
        </thead>
        <tbody>
            <tr 
                *ngFor="let person of persons;let i=index;"
                [ngClass]="{'selected': person.selected}">
                <td>{{person.rowidObject}}</td>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.displayName}}</td>
                <td>{{person.taxId}}</td>
                <td>{{person.generationSuffixCd}}</td>
               
            </tr>
          </tbody>
    </table>
</div>
