@import '../../../styles/colors';

div.persons-table-container{
    background-color: $background-primary-color;
    font-size: 0.9em;
    min-height:100%;
    padding:15px;
}



tr.selected{
    background-color: #e8f4f8 !important;
}