@import '../../../styles/colors';


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  div.form-container{
    background-color: $background-primary-color;
    font-size: 0.9em;
    min-height:100%;
    max-height: 100%;
   


    div.entity-header{
      height:50px;
      background-color:$accent-color;
      padding:10px 0px;
      font-size:1.2em;
      color: $text-primary-color;
      
    }
  }

  div.json-container{
    background-color: $background-primary-color;
    font-size: 0.9em;
    min-height:100%;
    padding:15px;
  }